<div id="end-color">
    <div class="ui divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 end">
                <h5>Any Query? Lets Chat</h5>
                <a href="mailto:kundankr6097@gmail.com" class="end">
                    <i class="large telegram plane icon"></i>kundankr6097@gmail.com</a>
            </div>
            <div class="col-md-6 end">
                <h5>Connect with</h5>
                <a href="https://www.facebook.com/kundan.yadav.334" class="end" target="blank">
                    <i class="large facebook icon"></i></a>
                <a href="https://www.instagram.com/nikamma_/" class="end" target="blank">
                    <i class="large instagram icon"></i></a>
                <a href="https://github.com/kundankumar26" class="end" target="blank">
                    <i class="large github square icon"></i></a>
                <a href="https://www.linkedin.com/in/kk26/" class="end" target="blank">
                    <i class="large linkedin icon"></i></a>
            </div> 
        </div>
    </div>
    <div class="end">
        <p id="foot"><i class="copyright outline icon"></i>Designed & Maintained by Kundan Kumar.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"></script>
<script src="/javascript/work.js"></script>
<script src="/javascript/header.js"></script>
</body>
</html>
